* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
}
nav {
    background: #666666;
}
ul {
    list-style: none;
    display: flex;
}
nav a {
    text-decoration: none;
    color: black;
    font-family: 'monsterrat',sans-serif;
    display: inline-block;
    padding: 0.1em 1em;
}
nav a:hover {
    background: deepskyblue;
}
li{
    font-size: 1em;
    align-self: center;
}
.logo{
    align-self: center;
    font-size: 3em;
    padding: 0.2em 0;
    font-family: 'Work Sans', sans-serif;
    margin: auto;
}